article.news-entry time {
  float: right;
  font-size: 16px;
  font-weight: bold;
}
article.news-entry p {
  margin-bottom: 40px;
}
article.news-entry p img.left {
  float: left;
  margin: 0 15px 5px 0;
  max-width: 100%;
}
ul#tourdates {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul#tourdates > li {
  display: table-row;
}
ul#tourdates > li > * {
  display: table-cell;
  padding: 10px 0;
  font-size: 20px;
}
ul#tourdates > li > a {
  text-align: right;
}
@media (max-width: 767px) {
  ul#tourdates {
    display: block;
  }
  ul#tourdates > li {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #BBB;
  }
  ul#tourdates > li > * {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  ul#tourdates > li > a {
    text-align: center;
  }
  ul#tourdates > li > br {
    display: none;
  }
  ul#tourdates > li:first-child {
    display: none;
  }
}
ul.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.gallery > li {
  display: inline-block;
  margin-bottom: 15px;
  height: 220px;
}
@media (min-width: 480px) {
  ul.gallery > li {
    width: 100%;
  }
}
@media (min-width: 992px) {
  ul.gallery > li {
    width: 31%;
    margin-right: 2%;
  }
}
ul.gallery > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
ul.gallery:last-child:after {
  content: "";
  display: table;
  clear: both;
}
.video {
  float: left;
  margin: 0 0 20px 0;
}
.video img {
  width: 100%;
}
.video span.title {
  text-align: center;
  display: block;
  margin-top: 4px;
}
@media (min-width: 480px) {
  .video {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .video {
    width: 31%;
    margin-right: 2%;
  }
}
.album-wrapper > iframe {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .album-wrapper > iframe {
    width: 100%;
    float: none;
    display: block;
    margin: 0 0 20px 0;
  }
}
.album-wrapper:last-child:after {
  content: "";
  display: table;
  clear: both;
}
.spotify-track {
  display: block;
  margin: 0 0 20px 0;
  max-width: 480px;
}
#curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  z-index: 9999;
  border-bottom: 5px solid #BBB;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: top 0.8s ease-out;
  -o-transition: top 0.8s ease-out;
  -moz-transition: top 0.8s ease-out;
  -webkit-transition: top 0.8s ease-out;
}
#curtain.up {
  top: -105%;
}
#curtain .bg {
  background: transparent url(../img/laupaire.gif) no-repeat center center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#curtain .arrow {
  cursor: pointer;
  position: absolute;
  color: #888;
  font-size: 48px;
  bottom: 5%;
  top: auto;
  left: calc(50% + 24px);
  z-index: 15;
}
#curtain .arrow:hover {
  color: #333;
}
@media (max-width: 991px) {
  #curtain {
    display: none;
  }
}
#curtain-video {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -430px;
  margin-top: -230px;
  z-index: 5;
}
@media (max-width: 991px) {
  #curtain-video {
    display: none;
  }
}
#newsletter_archive {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#newsletter_archive > li {
  font-size: 20px;
  margin-bottom: 5px;
}
#newsletter_archive > li .date {
  display: inline-block;
  width: 150px;
}
@media (max-width: 767px) {
  #newsletter_archive {
    display: block;
  }
  #newsletter_archive > li {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #BBB;
  }
  #newsletter_archive > li > * {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100% !important;
  }
}
