@media (max-width: 767px) {
  body.page-live h1 {
    margin-bottom: 40px;
    text-align: center;
  }
}
body.page-contact #content h2 {
  margin-bottom: 5px;
}
body.page-contact #content p,
body.page-contact #content address {
  margin-bottom: 25px;
}
