@media (max-width: 767px) {
  body.page-live h1 {
    margin-bottom: 40px;
    text-align: center;
  }
}
body.page-info #content h2 {
  margin-bottom: 5px;
}
body.page-info #content p,
body.page-info #content address {
  margin-bottom: 25px;
}
body.page-info #content .box {
  float: left;
  width: 33%;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  body.page-info #content .box {
    float: none;
    width: 100%;
  }
}
